<h4>Bonjour {{ data.firstname }}</h4>

<p>Nous avons pris connaissance de votre inscription à l'évènement: <strong>"{{ data.eventTitle }}"</strong></p>
<p>Nous vous prions de bien vouloir nous  confirmer votre présence en cliquant sur le lien suivant :</p>

<a href="{{ data.confirmationUrl }}" style="color: crimson">Confirmer mon inscription</a>

<p><h4>Ecaf</h4></p>
